<div class="header-upper">
    <!-- BEGIN .wrapper -->
    <div class="wrapper">
        <!-- WIDGET MENU TOP -->
        <ul class="left ot-menu-add" rel="Top Menu" app-widget-menu-top></ul>

        <!-- WIDGET SOCIAL -->
        <ul class="right" app-widget-social></ul>

        <div class="clear-float"></div>
        <!-- END .wrapper -->
    </div>
</div>

<!-- BEGIN .wrapper -->
<div class="wrapper">

    <!-- BEGIN .header-content -->
    <div class="header-content">
        <!-- WIDGET BANNER -->
        <div class="header-logo" app-widget-banner></div>

        <!-- WIDGET ADS : Top -->
        <div class="header-banner" app-widget-adds="banner"></div>
        <!-- END .header-content -->
    </div>

    <!-- WIDGET MENU MAIN -->
    <nav id="main-menu" app-widget-menu-main></nav>

    <!-- END .wrapper -->
</div>